<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emoji</key>
	<array>
		<dict>
			<key>[微笑]</key>
			<string>weixiao</string>
		</dict>
		<dict>
			<key>[Smile]</key>
			<string>weixiao</string>
		</dict>
		<dict>
			<key>[色]</key>
			<string>se</string>
		</dict>
		<dict>
			<key>[Drool]</key>
			<string>se</string>
		</dict>
		<dict>
			<key>[得意]</key>
			<string>deyi</string>
		</dict>
		<dict>
			<key>[Smug]</key>
			<string>deyi</string>
		</dict>
		<dict>
			<key>[流泪]</key>
			<string>liulei</string>
		</dict>
		<dict>
			<key>[Tears]</key>
			<string>liulei</string>
		</dict>
		<dict>
			<key>[害羞]</key>
			<string>haixiu</string>
		</dict>
		<dict>
			<key>[Shy]</key>
			<string>haixiu</string>
		</dict>
		<dict>
			<key>[闭嘴]</key>
			<string>bizui</string>
		</dict>
		<dict>
			<key>[Slience]</key>
			<string>bizui</string>
		</dict>
		<dict>
			<key>[睡]</key>
			<string>shui</string>
		</dict>
		<dict>
			<key>[Sleep]</key>
			<string>shui</string>
		</dict>
		<dict>
			<key>[尴尬]</key>
			<string>ganga</string>
		</dict>
		<dict>
			<key>[Awkward]</key>
			<string>ganga</string>
		</dict>
		<dict>
			<key>[发怒]</key>
			<string>fanu</string>
		</dict>
		<dict>
			<key>[Angry]</key>
			<string>fanu</string>
		</dict>
		<dict>
			<key>[调皮]</key>
			<string>tiaopi</string>
		</dict>
		<dict>
			<key>[Naughty]</key>
			<string>tiaopi</string>
		</dict>
		<dict>
			<key>[呲牙]</key>
			<string>ciya</string>
		</dict>
		<dict>
			<key>[Grin]</key>
			<string>ciya</string>
		</dict>
		<dict>
			<key>[惊讶]</key>
			<string>jingya</string>
		</dict>
		<dict>
			<key>[Surprise]</key>
			<string>jingya</string>
		</dict>
		<dict>
			<key>[抓狂]</key>
			<string>zhuakuang</string>
		</dict>
		<dict>
			<key>[Scream]</key>
			<string>zhuakuang</string>
		</dict>
		<dict>
			<key>[偷笑]</key>
			<string>touxiao</string>
		</dict>
		<dict>
			<key>[Titter]</key>
			<string>touxiao</string>
		</dict>
		<dict>
			<key>[白眼]</key>
			<string>baiyan</string>
		</dict>
		<dict>
			<key>[Slight]</key>
			<string>baiyan</string>
		</dict>
		<dict>
			<key>[左哼哼]</key>
			<string>zuohengheng</string>
		</dict>
		<dict>
			<key>[BahLeft]</key>
			<string>zuohengheng</string>
		</dict>
		<dict>
			<key>[流汗]</key>
			<string>liuhan</string>
		</dict>
		<dict>
			<key>[Speechless]</key>
			<string>liuhan</string>
		</dict>
		<dict>
			<key>[疑问]</key>
			<string>yiwen</string>
		</dict>
		<dict>
			<key>[Question]</key>
			<string>yiwen</string>
		</dict>
		<dict>
			<key>[不高兴]</key>
			<string>bugaoxing</string>
		</dict>
		<dict>
			<key>[Unhappy]</key>
			<string>bugaoxing</string>
		</dict>
		<dict>
			<key>[晕]</key>
			<string>yun</string>
		</dict>
		<dict>
			<key>[Dizzy]</key>
			<string>yun</string>
		</dict>
		<dict>
			<key>[疯了]</key>
			<string>fengle</string>
		</dict>
		<dict>
			<key>[Crazy]</key>
			<string>fengle</string>
		</dict>
		<dict>
			<key>[敲打]</key>
			<string>qiaoda</string>
		</dict>
		<dict>
			<key>[Hammer]</key>
			<string>qiaoda</string>
		</dict>
		<dict>
			<key>[衰]</key>
			<string>shuai</string>
		</dict>
		<dict>
			<key>[Unlucky]</key>
			<string>shuai</string>
		</dict>
		<dict>
			<key>[再见]</key>
			<string>zaijian</string>
		</dict>
		<dict>
			<key>[Bye]</key>
			<string>zaijian</string>
		</dict>
		<dict>
			<key>[抠鼻]</key>
			<string>koubi</string>
		</dict>
		<dict>
			<key>[NosePick]</key>
			<string>koubi</string>
		</dict>
		<dict>
			<key>[鼓掌]</key>
			<string>guzhang</string>
		</dict>
		<dict>
			<key>[Applaud]</key>
			<string>guzhang</string>
		</dict>
		<dict>
			<key>[右哼哼]</key>
			<string>youhengheng</string>
		</dict>
		<dict>
			<key>[BahRight]</key>
			<string>youhengheng</string>
		</dict>
		<dict>
			<key>[鄙视]</key>
			<string>bishi</string>
		</dict>
		<dict>
			<key>[Disdain]</key>
			<string>bishi</string>
		</dict>
		<dict>
			<key>[委屈]</key>
			<string>weiqu</string>
		</dict>
		<dict>
			<key>[Grievance]</key>
			<string>weiqu</string>
		</dict>
		<dict>
			<key>[阴险]</key>
			<string>yinxian</string>
		</dict>
		<dict>
			<key>[Sly]</key>
			<string>yinxian</string>
		</dict>
		<dict>
			<key>[亲亲]</key>
			<string>qinqin</string>
		</dict>
		<dict>
			<key>[Kiss]</key>
			<string>qinqin</string>
		</dict>
		<dict>
			<key>[可怜]</key>
			<string>kelian</string>
		</dict>
		<dict>
			<key>[Pitiful]</key>
			<string>kelian</string>
		</dict>
	</array>
</dict>
</plist>
